@model Project_C.Models.Store

@{
    ViewData["Title"] = "Details";

    string ImageDataUrl = string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.StoreLogo));
}

<link rel="stylesheet" href="~/css/storedetails.css"/>  

<div class="row">
    <div class="column">
        <table class="CostumMadeTable">
            <thead>
                <tr>
                    <th><h2>Details</h2></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="PropertyName">Naam</td>
                </tr>
                <tr>
                    <td class="DetailInfo">@Model.Name</td>
                </tr>
                <tr>
                    <td class="PropertyName">Id</td>
                </tr>
                <tr>
                    <td class="DetailInfo">@Model.Id</td>
                </tr>
                <tr>
                    <td class="PropertyName">Website Link</td>
                </tr>
                <tr>
                    <td class="DetailInfo">@Model.SiteLink</td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-bewerk" asp-action="EditStore" asp-route-id="@Model.Id">Bewerk</a>
                                       <a class="btn btn-verwijder" asp-action="DeleteEmployee" asp-route-id="@Model.Id">Verwijder Winkel</a>
                                                <div class="center">
                                <input type="checkbox" id="click">
                                <label for="click" class="click-me">Verwijder Winkel</label> 
                                    <div class="content">
        <label for="click" class="fas fa-check"></label>
        <p>
            Weet u zeker dat u "@Model.Name" wilt verwijderen? <br>
            (ID: @Model.Id)
        </p>
        <form asp-action="DeleteEmployee">
            <div class="btn-pop up">
                <input type="hidden" asp-for="@Model.Id" />
                <input type="submit" value="Definitief Verwijderen" class="btn btn-defverwijder" />
                <a class="backbutton" asp-action="StoreDetails" asp-route-id="@Model.Id">Ga Terug</a>
            </div>
        </form>
        <div class="line"></div>
        <a asp-action="Startpagina" asp-controller="Application" class="close-btn">
        </a>
    </div>
                           </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="column">
        <table class="CostumMadeTable">
            <thead>
                <tr>
                    <th><h2>Media</h2></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="PropertyName">Logo</td>
                </tr>
                <tr>
                    <td class="DetailInfo">
                        <img src="@ImageDataUrl" asp-append-version="true" height="353" align="middle" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



</div>



