@model IEnumerable<Project_C.Models.Store>

@{
    ViewData["Title"] = "StoreIndex";
    //loads db context into this page
    var _context = ViewBag.Context as ApplicationDbContext;

    var AllStoreLogos = _context.Images.Where(x => x.ProductId == null).ToList();
    List<string> imageDataURL = new List<string>();
    for(int i = 0; i <AllStoreLogos.Count; i++)
    {
        imageDataURL.Add(string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(AllStoreLogos[i].ImageData)));
    }
}

<h1>Winkels</h1>


<a asp-controller="Store" asp-action="AddStore"><input class="btn btn-success" value="Nieuwe Winkel" /></a>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th style="width:20%">
                Naam
            </th>
            <th style="width:25%">
                Website link
            </th>
            <th>
                Logo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
        var ModeltoList = Model.ToList();
        for (int i =0; i < ModeltoList.Count; i++)
        {
            <tr>
                <td>
                        @ModeltoList[i].Name
                </td>
                <td>
                        @ModeltoList[i].SiteLink
                </td>
                <td>
                    <img class="img-fluid" src="@imageDataURL[i]"  asp-append-version="true" style="width:12%" />
                </td>
                <td>
                    <form asp-action="View">
                        <div class="btn-group">
                                <a class="btn btn-primary" asp-action="StoreDetails" asp-route-id="@ModeltoList[i].Id">Details</a>
                                <a class="btn btn-primary" asp-action="EditStore" asp-route-id="@ModeltoList[i].Id">Bewerk</a>
                                <a class="btn btn-danger" asp-action="DeleteStore" asp-route-id="@ModeltoList[i].Id">Verwijder</a>
                        </div>
                    </form>
                </td>
            </tr>
        }
        }
    </tbody>
</table>