@model IEnumerable<Project_C.Models.StoreModels.Store>

@{
    ViewData["Title"] = "StoreIndex";
}

<h1>Winkels</h1>


<a asp-controller="Store" asp-action="AddStore"><input class="btn btn-success" value="Nieuwe Winkel" /></a>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th style="width:20%">
                Naam
            </th>
            <th style="width:25%">
                Website link
            </th>
            <th>
                Logo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.SiteLink
                </td>
                <td>
                    @{
                        var photoPath = "~/images/StoreLogos/" + item.LogoPath;
                    }
                    <img class="img-fluid" src="@photoPath"  asp-append-version="true" style="width:12%" />
                </td>
                <td>
                    <form asp-action="View">
                        <div class="btn-group">
                            <a class="btn btn-primary" asp-action="StoreDetails" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-primary" asp-action="EditStore" asp-route-id="@item.Id">Bewerk</a>
                            <a class="btn btn-danger" asp-action="DeleteStore" asp-route-id="@item.Id">Verwijder</a>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>