@model IEnumerable<Project_C.Models.StoreModels.Store>

@{
    ViewData["Title"] = "Index";
}

<h1>All Stores</h1>


<a asp-controller="Store" asp-action="AddStore"><input class="btn btn-success" value="Add new Store" /></a>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Logo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        var photoPath = "~/images/StoreLogos/" + item.LogoPath;
                    }
                    <img class="img-fluid" src="@photoPath"  asp-append-version="true" style="width:7.5%" />
                </td>
                <td>
                    <form asp-action="View">
                        <div class="btn-group">
                            <a class="btn btn-primary" asp-action="StoreDetails" asp-route-id="@item.Id">View</a>
                             <a class="btn btn-primary" asp-action="EditStore" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-danger" asp-action="DeleteStore" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@*                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
@*                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>*@