@model IEnumerable<Project_C.Models.UserModels.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Werknemers</h1>


<a asp-controller="Employee" asp-action="AddEmployee"><input class="btn btn-success" value="Nieuwe werknemer" /></a>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th style="width:20%">
                Gebruikersnaam
            </th>
            <th style="width:25%">
                E-mail
            </th>
            <th>
                Id
            </th>
            <th>
                Rol
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string rol = item.IsAdmin == true ? "Administrator" : "Medewerker";
            <tr>
                <td>
                    @item.Username
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Id
                </td>
                <td>
                    @rol
                </td>
                <td>
                    <form asp-action="View">
                        <div class="btn-group">
                            <a class="btn btn-primary" asp-action="EmployeeDetails" asp-route-id="@item.Id">Bekijk</a>
                            <a class="btn btn-primary" asp-action="EditEmployee" asp-route-id="@item.Id">Bewerk</a>
                            <a class="btn btn-danger" asp-action="DeleteEmployee" asp-route-id="@item.Id">Verwijder</a>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>