@model Project_C.Models.UserModels.Employee
@{
    string isadmin = Model.IsAdmin == true ? "Administrator" : "Medewerker";
}
<link rel="stylesheet" href="~/css/employeedetails.css"/>     
<table class="table">
    <thead>
        <tr>
            <th><h2>Details</h2></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="PropertyName">Id</td>
        </tr>
        <tr>
            <td class="DetailInfo">@Model.Id</td>
        </tr>
        <tr>
            <td class="PropertyName">Gebruikersnaam</td>
        </tr>
        <tr>
            <td class="DetailInfo">@Model.Username</td>
        </tr>
        <tr>
            <td class="PropertyName">Wachtwoord</td>
        </tr>
        <tr>
            <td class="DetailInfo">@Model.Password</td>
        </tr>
        <tr>
            <td class="PropertyName">E-mail</td>
        </tr>
        <tr>
            <td class="DetailInfo">@Model.Email</td>
        </tr>
        <tr>
            <td class="PropertyName">Bevoegheden</td>
        </tr>
        <tr>
            <td class="DetailInfo">@isadmin</td>
        </tr>
        <tr>
            <td>
                 <a asp-action="HomePage" asp-controller="Access" class="Teruggaan">
                            <span class="icon">
                                <ion-icon name="return-up-back-sharp"></ion-icon>
                            </span>
                            <span class="text">Thuispagina</span>
                        </a>

                <a class="btn btn-bewerk" asp-action="EditEmployee" asp-route-id="@Model.Id">Bewerk</a>
                <a class="btn btn-verwijder" asp-action="DeleteEmployee" asp-route-id="@Model.Id">Verwijder Account</a>
                                                <div class="center">
                                <input type="checkbox" id="click">
                                <label for="click" class="click-me">Verwijder Account</label> 
                                    <div class="content">
        <label for="click" class="fas fa-check"></label>
        <p>
            Weet u zeker dat u "@Model.Username" wilt verwijderen? <br>
            (ID: @Model.Id)
        </p>
        <form asp-action="DeleteEmployee">
            <div class="btn-pop up">
                <input type="hidden" asp-for="@Model.Id" />
                <input type="submit" value="Definitief Verwijderen" class="btn btn-defverwijder" />
                <a class="backbutton" asp-action="EmployeeDetails" asp-route-id="@Model.Id">Ga Terug</a>
            </div>
        </form>
        <div class="line"></div>
        <a asp-action="Startpagina" asp-controller="Application" class="close-btn">
        </a>
    </div>
                           </div>

            </td>
        
        </tr>
         <wow>
            <div class="navigation">
                <ul>
                                                    <terug>
                    <a asp-action="HomePage" asp-controller="Access" class="Teruggaan">
                                        <span class="icon">
                                <ion-icon name="return-up-back-sharp"></ion-icon>
                        </span>
                            <span class="text">Thuispagina</span>
                            </a>
                    </terug>
                </ul>
                    </div>
                    </wow>
    </tbody>
</table>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>