@model Project_C.Models.Product
@using Project_C.Models
@{
    //loads db context into this page
    var _context = ViewBag.Context as ApplicationDbContext;

    //query for all stores which have been selected for this product
    var AllStoreLogos =
      (from store in _context.Stores
       from image in _context.Images
       where store.Products.Any(x => x.Id == Model.Id)
       select image).Where(x => x.Type == "Store").ToList();


    List<string> imageDataURL = new List<string>();
    for (int i = 0; i < AllStoreLogos.Count; i++)
    {
        imageDataURL.Add(string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(AllStoreLogos[i].ImageData)));
    }
    var ProductImage = _context.Images.SingleOrDefault(x => x.ProductId == Model.Id);
    string ProductimageDataURL = string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(ProductImage.ImageData));
    ViewData["Title"] = "Details";
}

<style>
    * {
        box-sizing: border-box;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }
    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    .PropertyName{
        font-family: Arial;
        font-size: 25px;
    }
    .DetailInfo{
        font-family: Arial;
        font-size: 18px;
    }
</style>


<div class="row">
    <div class="column">
        <table class="CostumMadeTable">
    <thead>
        <tr>
            <th><h2>Details</h2></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="PropertyName">Naam</td>
        </tr>
        <tr>
            <td class="DetailInfo">@Model.Name</td>
        </tr>
        <tr>
            <td class="PropertyName">Id</td>
        </tr>
        <tr>
            <td class="DetailInfo">@Model.Id</td>
        </tr>
        <tr>
            <td class="PropertyName" >Beschrijving</td>
        </tr>
        <tr>
            <td class="DetailInfo">@Model.Description</td>
        </tr>
        <tr>
            <td class="PropertyName" >Prijs</td>
        </tr>
        <tr>
            <td class="DetailInfo">€@Model.Price</td>
        </tr>
        <tr>
            <td class="PropertyName">Plaats</td>
        </tr>
        <tr>
            <td class="DetailInfo">@Model.Place</td>
        <tr>
        <tr>
              <td class="PropertyName">Winkels</td>
         </tr>
        <tr>
             <td class="DetailInfo">
                  @{
                           for (int i =0; i < imageDataURL.Count; i++)
                           {
                                   <img src="@imageDataURL[i]" asp-append-version="true" height="80" width="80" />
                           }
                   }
             </td>
        <tr>
            <td>
                        <a class="btn btn-primary" asp-action="EditProduct" asp-route-id="@Model.Id">Bewerk</a>
                        <a class="btn btn-danger" asp-action="DeleteProduct" asp-route-id="@Model.Id">Verwijder</a>
            </td>
        </tr>
    </tbody>
</table>

    </div>

    <div class="column">
        <table class="CostumMadeTable">
            <thead>
                 <tr>
              <th><h2>Media</h2></th>
        </tr>
     </thead>
    <tbody>
           <tr>
            <td class="PropertyName">Afbeelding</td>
        </tr>
        <tr>
             <td class="DetailInfo">
                 <img src="@ProductimageDataURL" asp-append-version="true" height="425" align="middle"/>
             </td>               
        </tr>
        <tr>
           <td class="PropertyName">Video</td>
        </tr>

      </tbody>
        </table>
        <iframe width="642" height="275"
                src=@Model.VideoLink>
        </iframe>
    </div>



</div>


