@model Project_C.Models.Product
@using Project_C.Models
@{
    //loads db context into this page
    var _context = ViewBag.Context as ApplicationDbContext;
    //query for all stores which have been selected for this product
    var storesOfProduct =
      from store in _context.Stores
      where store.Products.Any(x => x.Id == Model.Id)
      select store;
    ViewData["Title"] = "Details";
    //product image path
    var photoPath = "~/images/ProductImages/" + Model.PhotoPath;
    
 
}

<style>
    * {
        box-sizing: border-box;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }
    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    .PropertyName{
        font-family: Arial;
        font-size: 25px;
    }
    .DetailInfo{
        font-family: Arial;
        font-size: 18px;
    }
</style>


<div class="row">
    <div class="column">
        <table class="CostumMadeTable">
    <thead>
        <tr>
            <th><h2>Details</h2></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="PropertyName">Naam</td>
        </tr>
        <tr>
            <td class="DetailInfo">@Model.Name</td>
        </tr>
        <tr>
            <td class="PropertyName">Id</td>
        </tr>
        <tr>
            <td class="DetailInfo">@Model.Id</td>
        </tr>
        <tr>
            <td class="PropertyName" >Beschrijving</td>
        </tr>
        <tr>
            <td class="DetailInfo">@Model.Description</td>
        </tr>
        <tr>
            <td class="PropertyName" >Prijs</td>
        </tr>
        <tr>
            <td class="DetailInfo">€@Model.Price</td>
        </tr>
        <tr>
            <td class="PropertyName">Plaats</td>
        </tr>
        <tr>
            <td class="DetailInfo">@Model.Place</td>
        <tr>
        <tr>
              <td class="PropertyName">Winkels</td>
         </tr>
        <tr>
             <td class="DetailInfo">
                  @{
                      foreach (var item in storesOfProduct)
                           {
                                   <img src="~/images/StoreLogos/@item.LogoPath" asp-append-version="true" height="80" width="80" />
                           }
                   }
             </td>
        <tr>
            <td>
                        <a class="btn btn-primary" asp-action="EditProduct" asp-route-id="@Model.Id">Bewerk</a>
                        <a class="btn btn-danger" asp-action="DeleteProduct" asp-route-id="@Model.Id">Verwijder</a>
            </td>
        </tr>
    </tbody>
</table>

    </div>

    <div class="column">
        <table class="CostumMadeTable">
            <thead>
                 <tr>
              <th><h2>Media</h2></th>
        </tr>
     </thead>
    <tbody>
           <tr>
            <td class="PropertyName">Afbeelding</td>
        </tr>
        <tr>
             <td class="DetailInfo">
                 <img src="@photoPath" asp-append-version="true" height="450" align="middle"/>
             </td>               
        </tr>
        <tr>
           <td class="PropertyName">Video</td>
        </tr>

      </tbody>
        </table>
        <iframe width="642" height="315"
                src=@Model.VideoLink>
        </iframe>
    </div>



</div>


