@model IEnumerable<Project_C.Models.ProductModels.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Producten</h1>


<a asp-controller="Product" asp-action="AddProduct"><input class="btn btn-success" value="Nieuw Product" /></a>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th style="width:20%">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width:25%">
                €€€
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    <form asp-action="View">
                        <div class="btn-group">
                            <a class="btn btn-primary" asp-action="ProductDetails" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-primary" asp-action="EditProduct" asp-route-id="@item.Id">Bewerk</a>
                            <a class="btn btn-danger" asp-action="DeleteProduct" asp-route-id="@item.Id">Verwijder</a>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>