@model Project_C.Models.Product
@using Project_C.Models
@{
    //loads db context into this page
    var _context = ViewBag.Context as ApplicationDbContext;
    //query for all stores which have been selected for this product
    var storesOfProduct =
      from store in _context.Stores
      where store.Products.Any(x => x.Id == Model.Id)
      select store;

    //converts byte image to string for Photo use.
    string ProductImage = string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.ProductImage));

    //Converts Byte[] to Image
    var StoresofProductToList = storesOfProduct.ToList();
    List<string> StoreImages = new List<string>();
    for (int i = 0; i < storesOfProduct.Count(); i++)
    {
        StoreImages.Add(string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(StoresofProductToList[i].StoreLogo)));
    }
}
<link rel="stylesheet" href="~/css/productdetails.css"/>    
<div class="row">
    <div class="column">
        <table class="table">
    <thead>
        <tr>
            <th><h2>Details</h2></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="PropertyName">Naam</td>
        </tr>
        <tr>
            <td class="DetailInfo">@Model.Name</td>
        </tr>
        <tr>
            <td class="PropertyName">Id</td>
        </tr>
        <tr>
            <td class="DetailInfo">@Model.Id</td>
        </tr>
        <tr>
            <td class="PropertyName" >Beschrijving</td>
        </tr>
        <tr>
            <td class="DetailInfo">@Model.Description</td>
        </tr>
        <tr>
            <td class="PropertyName" >Prijs</td>
        </tr>
        <tr>
            <td class="DetailInfo">€@Model.Price</td>
        </tr>
        <tr>
            <td class="PropertyName">Plaats</td>
        </tr>
        <tr>
            <td class="DetailInfo">@Model.PlaceAsString</td>
        <tr>
        <tr>
              <td class="PropertyName">Winkels</td>
         </tr>
        <tr>
             <td class="DetailInfo">
                  @{
                      foreach (var item in StoreImages)
                           {
                                   <img src="@item" asp-append-version="true" height="80" width="80" />
                           }
                   }
             </td>
        <tr>
            <td>
                        <a class="btn btn-bewerk" asp-action="EditProduct" asp-route-id="@Model.Id">Bewerk</a>
                        <a class="btn btn-verwijder" asp-action="ConfirmDeleteProduct" asp-route-id="@Model.Id">Verwijder Product</a>
                        <div class="center">
                            <input type="checkbox" id="click">
                            <label for="click" class="click-me">Verwijder Product</label>
                            <div class="content">
                                <label for="click" class="fas fa-check"></label>
                                <p>
                                    Weet u zeker dat u "@Model.Name" wilt verwijderen? <br>
                                    (ID: @Model.Id)
                                </p>
                                <form asp-action="ConfirmDeleteProduct" asp-route-id="@Model.Id">
                                    <div class="btn-pop up">
                                        <input type="hidden" asp-for="@Model.Id" />
                                        <input type="submit" value="Definitief Verwijderen" class="btn btn-defverwijder" />
                                        <a class="backbutton" asp-action="ProductDetails" asp-route-id="@Model.Id">Ga Terug</a>
                                    </div>
                                </form>
                                <div class="line"></div>
                                <a asp-action="Startpagina" asp-controller="Application" class="close-btn">
                                </a>
                            </div>
                        </div>
            </td>
        </tr>
    </tbody>
</table>

    </div>

    <div class="column">
        <table class="CostumMadeTable">
            <thead>
                 <tr>
              <th><h2>Media</h2></th>
        </tr>
     </thead>
    <tbody>
           <tr>
            <td class="PropertyName">Afbeelding</td>
        </tr>
        <tr>
             <td class="DetailInfo">
                 <img src="@ProductImage" asp-append-version="true" height="450" align="middle"/>
             </td>               
        </tr>
        <tr>
           <td class="PropertyName">Video</td>
        </tr>

      </tbody>
        </table>
        <iframe width="642" height="315"
                src=@Model.VideoLink>
        </iframe>
    </div>



</div>


